<section class="benefits">
	<div class="benefits__container">
		<div class="benefits__side" data-aos="fade-right" data-aos-delay="300">
			<img src="./assets/side.png" alt="" />
		</div>
		<div class="benefits__content">
			<div class="tag" data-aos="fade-left" data-aos-delay="300">
				<p class="tag__text">benefícios</p>
			</div>
			<h3 class="default__title" data-aos="fade-left" data-aos-delay="300">BENEFÍCIOS DE SE <br />ASSOCIAR AO GRUPO <span>CB DROGARIAS</span></h3>
			<p class="default__desc" data-aos="fade-left" data-aos-delay="300">
				Diferentemente de uma rede de franquias de farmácia, que torna sua drogaria refém do que eles impõem, nós damos a você liberdade de escolha, com a
				possibilidade de atuar com preços mais baixos e gestão estratégica.
				<br /><br />
				<b> NOSSA SOLUÇÃO INCLUI: </b>
			</p>

			<ul class="benefits__list">
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Indicadores comerciais.</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Controle Financeiro com gestão inteligente.</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Ambiente de compras com ofertas previamente negociadas pelo grupo.</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Departamento de inteligência: relatórios analíticos para drogarias com base atualizada de mercado.</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">
						Acesso a palestras, workshops, encontros técnicos, cursos, simpósios sobre organização, planejamento, execução do negócio.
					</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Acesso as melhores e principais ferramentas.</p>
				</li>
			</ul>
			<div class="button--container">
				<a href="#" class="button">SEJA UM ASSOCIADO</a>
			</div>
		</div>
	</div>
</section>
