<section class="contact">
	<div class="contact__container">
		<div class="contact__content">
			<img src="./assets/warning-sign.png" alt="" />
			<h3 class="default__title">
				<span>TEMPO É DINHEIRO!</span><br />
				VAMOS COMEÇAR AGORA <br />
				FATURAR MAIS?
			</h3>
			<p class="default__desc">
				Nosso time de especialistas está pronto para conversar com você, sem compromisso, para entender melhor suas necessidades, conhecer a história da sua
				drogaria e encontrar o melhor caminho para começar a faturar o que você realmente merece.
			</p>
		</div>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/phone.svg" alt="" /> Telefone</label>
				</div>
			</div>
			<button type="submit" class="button bigger">agendar uma reunião gratuita</button>
		</form>
	</div>
</section>
