<section class="solution">
	<div class="solution__container">
		<h2 class="default__title">SE A SUA FARMÁCIA SÓ VENDE REMÉDIO,</h2>
		<h3 class="default__title red">ELA TAMBÉM ESTÁ PRECISANDO DE UM!</h3>
		<p class="default__desc">
			Você não pode mais se esconder atrás do balcão de sua farmácia, sofrendo com a forte concorrência das redes de franquias que hoje assolam o Brasil.

			<b>A sua drogaria precisa de você!</b>

			Ela precisa de um gestor, um grande administrador de números e dados valiosos, que podem se transformar em lucro e retorno satisfatório, desde que
			tratados com planejamento e estratégias bem traçadas.
		</p>
		<div class="button--container">
			<a href=" #" class="button bigger full">quero começar a lucrar mais</a>
		</div>
	</div>
</section>
