<section class="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">VEJA O QUE NOSSOS PARCEIROS DIZEM</h3>
		<p class="default__desc">Lorem ipsum dolor sit.</p>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/WWMvcNfqn0k?si=vM27BapDesyZPhdt" loading="lazy" width="397" height="221"> </iframe>
			</div>

			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/4PhK1JVvcmc?si=Vt482zqkhpNDCGif" loading="lazy" width="397" height="221"> </iframe>
			</div>

			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/n_djEHfQgQI?si=jEwioHKuTsZvgqZb" loading="lazy" width="397" height="221"> </iframe>
			</div>

			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/pRtwFVM18eA?si=PruvP_I7w7f2ndBp" loading="lazy" width="397" height="221"> </iframe>
			</div>
			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/9O-wIDy-uuc?si=_qySSjOmqXmLQBZK" loading="lazy" width="397" height="221"> </iframe>
			</div>
			<div class="testimonials__card">
				<iframe src="https://www.youtube.com/embed/_nQaCXIoM4I?si=PVENbqCMW_PudF0e" loading="lazy" width="397" height="221"> </iframe>
			</div>
		</div>
		<div class="button--container">
			<a href="#" class="button bigger">seja você também um associado</a>
		</div>
	</div>
</section>
